
<div *ngIf="epic">
    <h2><span>Epic</span> {{epic.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{epic.name}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{epic.description}}</span>
        </dd>
        <dt><span>Completed</span></dt>
        <dd>
            <span>{{epic.completed}}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{epic.user?.login}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'epic/'+ epic.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
